 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Gilroy" ;
}

html,body{
    width: 100%;
    height:100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(155, 184, 155);
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}
#panelTop{
    padding: 0px 30%;
    width: 100%;
    height: 100px;
    background-color:  rgb(72, 104, 72) ;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px; 
    
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color: rgb(72, 104, 72);
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size:25px ;

}
#panelB{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100%-100px);
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;

}

.game-over {
    text-align: center;
    margin-top: 50px;
    
}

.game-over h1 {
    font-size: 50px;
}

.game-over p {
    margin: 20px 0;
    font-size: 30px;
}

.game-over button {
    padding: 10px 20px;
    background-color:rgb(72, 104, 72);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 110px;
    height: 50px;
    font-size: larger;
}

/* .bubble{
    width: 60px;
    height: 60px;
    background-color: rgb(72, 104, 72);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.bubble:hover{
    background-color:rgb(50,75,50);
    cursor: pointer;
} */

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: x-large;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    color: #000 
}

/* Use the .bubble styles for the .ball */

.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2;
}

.ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}


.ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
}



.ball.bubble:before {
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}

.ball.bubble:after {
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
} 


